*{font-family: Arial, Helvetica, sans-serif; padding: 0;}
body{margin: 0; padding: 0px;}.add{color: white;}
.logo{ color: green; font-size: 30px;}
.menu_bar{
    background-color: #2ecc71;
    height:90px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:unset;
    padding:0%;
    top: 100%;
  }.menu_bar ul{list-style: none; display: flex;}
  .menu_bar ul li {padding: 0%; position: relative;}
  .menu_bar ul li a{
    display: block;
    color: rgb(5 70 90px);
    text-decoration: salmon;
    font-size: 20px;
     width: 100px;
    padding: 0%;
    transition: all 0 .3s;
    margin: 0%;
  }/*.menu_bar ul li a:hover{ color: rgb(88 64 49px);}*/
  .dropdown_menu{display: none;}
  .menu_bar ul li a:hover {
    position: sticky;
    left: 0;
    top: 100%;
   
    background-color: rgb(40 50 60px);
  }.menu_bar ul li:hover.dropdown_menu ul{display: block; margin: 10px;}
  /*.menu_bar ul li:hover.dropdown_menu ul a{  width: 100px;
    padding: 7%;}*/
  .fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }.btn{ font-size: 80%;  text-align: center;color: lightblue; }
h1{text-align: center; color:rgb(40, 225, 119); margin: 5%}
header{ position: -webkit-sticky; position: sticky; top: 0;}
nav{
    display: flex;
    justify-content: space-between;
background-color: rgb(5, 38, 42);   
}.register{
    display: none;
    padding: 0;
    position: absolute;
    width: 60px;
    height: 80px;
    background-color: rgb(40, 111, 119);
} .register ul { padding: 0;}
 .register ul .year{
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: 15px;
} .register ul li a{
    margin-left: auto;
    margin-right: auto; 
} .register ul li {display: block;}
.register:hover +.register{
    display: block;
}main .intro{
    background-image: url(assest/front.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    /* background-color: red; */
    height: 150px;
    overflow: hidden;
}main .intro .introtext h1{font-size: 30px;}
main .intro .introtext{
    background-image: url(assest/);
    color: rgb(255, 255, 255);
    margin-top: 20px;
    /* background-color: aqua; */
    text-align: center;
}main{text-align: center; font-size:30px; color: rgb(192, 18, 8,);}
.infotext{
    color:rgb(5, 38, 42);
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    word-spacing: 3pt;
}h2{text-align: center; color:rgb(5, 38, 42);}
.school{
    /* background-color: green; */
    height: 300px;
    padding: 10px;
}.school img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 2px red; */
    
}.classes .form{
    text-align: center;
    color:rgb(5, 38, 42);
}.classes >h3{
    text-align: center;
    color:rgb(5, 38, 42);
    margin-top: 60px;
}.classes .form p{
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 30px;
}.classes .stream .strm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 10px;
    /* border: 1px solid red; */
    color: white;
    border-radius: 15px;
    /* text-align: center; */
}.classes .stream{display: grid; grid-template-columns: 1fr;}
.classes .stream .strm:nth-child(1){background-color: rgb(52, 158, 199);  
}.classes .stream .strm:nth-child(2){background-color: rgb(179, 46, 155);    
}.classes .stream .strm:nth-child(3){
background-color: rgb(172, 179, 46);}
.classes .stream .strm:nth-child(4){
 background-color: rgb(231, 76, 71);}
main .assembly{ margin-top: 40px;}
.assemblyphoto {height: 300px; padding: 10px;}
     /* border: 2px solid red; */
.assembly >h3{text-align: center; color:rgb(5, 38, 42);}
    /* background-color: red; */
.assembly img{width: 100%;height: 100%;object-fit: cover; border-radius: 10px;
}.foot{margin-top:10px;height:160px;background-color:rgb(18, 19, 19);
}  /* border: 2px solid red; */
    .foot footer{
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
    color: rgb(114, 111, 111);
}.foot footer p{ display: inline-block;margin-right: 15px;}
.foot footer p:hover{ color: rgb(34, 192, 209);cursor: pointer;}
@media only screen and (min-width:320px) and (max-width:480px) {
.menu_bar.menu_bar ul .menu_bar ul li .menu_bar ul li a {display: flex;
    margin-top: 5px; }
main .intro{background-attachment: fixed; height: 200px;}
@media only screen and (min-width:768px)and (max-width:1024) {
    .menu_bar .menu_bar ul .menu_bar ul li .menu_bar ul li a{
        font-size: 20px;
        margin-right: 40px;
    }main .intro{background-attachment: fixed; height: 200px;}
    .building{display: grid;grid-template-columns: 1fr 1fr;padding:5%;
    }.building h2{margin-top: auto; margin-bottom: auto;}
.school{height: 350px;
    }.school:hover{height: 370px; transition: 5ms ease-in-out;}
    .classes .stream{grid-template-columns: 1fr 1fr;
        grid-gap:10px;
    }.classes .stream .strm{height: 200px;
    }.assemblyphoto {height: 550px;}

}

}

